// color
$clr-primary: #f47606;
$clr-primary-light: #ffae00;
$clr-secondary: #477018;
$clr-accent: #373c33;
$clr-light: #fff;
$clr-light-1: #fafafa;
$clr-light-8: #f8f8f8;
$clr-dark-0: #000;
$clr-dark-2: #282828;
$clr-heading: #282828;
$clr-dark-6: #676767;
$clr-gray: #ccc;
$clr-gray-dark-6: #676767;
$clr-gray-dark-9: #969696;
$font: 'Inter', sans-serif;
$shadow-sm: 0px 0px 5px rgba(0, 0, 0, 0.1);
$shadow-md: 1px 1px 5px rgba(0, 0, 0, 0.1);
$shadow-lg: 3px 3px 7px rgba(0, 0, 0, 0.1);
$radius-sm: .5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$section-padding: 6.5rem 0;
$heading-sm: 2rem;

// custom
$transition: 0.5s ease-in-out;
$max-width: 1170px;
