.section {
  &-deal {
    &-content {
        .section-heading {
            margin-bottom: 0 !important;
        }

      &-items {
        &-item {
          width: 7rem;
          height: 7rem;
          border-radius: 5px;

          &:not(:last-child) {
            margin: 1.5rem;
          }

        }
      }
    }
  }
}
