.section {
    &-header {
        text-align: center;
    }
  &-natural {
    &-content {
        text-align: center;
      &-img { 
        text-align: center;
        img {
          max-width: 5.2rem;
          margin-bottom: 3rem;
        }
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
