.section {

    &-showcase {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 5rem;
            bottom: 5;
            right: 0; 
            width: 83rem;
            height: 100%;
            background: url(../images/showcase/showcase.png) no-repeat;
            background-size: 105%;
            background-position: right top;

            z-index: 1;
        }

        &-content {
            max-width: 63rem;
            position: relative;
            z-index: 3;

            h1 {
                font-size: 6.5rem;
                font-weight: bold;
            }

            p {
                max-width: 53rem;
                margin: 2rem 0;
            }
        }

    }

}


