.section {
  &-support {
    &-content {
      .section-support-item {
        padding-top: 3rem;
        

        h3 {
          margin-bottom: 0.3rem !important;
          color: $clr-dark-2;
        }
        img {
          width: 5.1rem;
          margin-bottom: 2.7rem;
        }
        p {
            color: $clr-gray-dark-6;
        }
      }
    }
  }
}
